* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #bd93f9;
  --black: #282a36	;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #50fa7b;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 
